<head><style>li{margin-left: 25px;font-size: 20px;} .l1,l2{float: left !important;}</style></head>

<nav class="navbar navbar-expand-md navbar-expand-lg navbar-dark bg-dark" role="navigation" style="border-radius: 0;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link l1" href="/login"><i class="fas fa-sign-in-alt"></i></a>
      </li>
      <li class="nav-item l2">
        <a class="nav-link float-right" href="/register"><i class="fas fa-user-plus"></i></a>
      </li>
    </ul>
  </div>
</nav>


