<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/StyleLinks.ejs') %>
</head>
<body>
    <%- include('./page-partials/navbar.ejs') %>
    <h1 style="text-align: center; margin-top: 150px;">Welcome to Homepage</h1>
</body>
<%- include('./partials/ScriptLinks.ejs') %>
</html>