<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/StyleLinks.ejs') %>
</head>
<body>
    <%- include('./page-partials/navbar.ejs') %>
    <h1 class="container text-center">Welcome to My Auth </h1>
</body>
<%- include('./partials/ScriptLinks.ejs') %>
</html>